<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=@team[:name]%></h1>
    <h1>Team Motto: <%=@team[:motto]%></h1>
    <h1>Hero Name: <%=@team[:hero1][:name]%></h1>
    <h1>Hero Power: <%=@team[:hero1][:power]%></h1>
    <h1>Hero Biography: <%=@team[:hero1][:bio]%></h1>
    <h1>Hero Name: <%=@team[:hero2][:name]%></h1>
    <h1>Hero Power: <%=@team[:hero2][:power]%></h1>
    <h1>Hero Biography: <%=@team[:hero2][:bio]%></h1>
    <h1>Hero Name: <%=@team[:hero3][:name]%></h1>
    <h1>Hero Power: <%=@team[:hero3][:power]%></h1>
    <h1>Hero Biography: <%=@team[:hero3][:bio]%></h1>


  </body>
</html>
